@import './bootstrap_custom.scss';

* {
  box-sizing: border-box;
}

.navbar {
  margin-bottom: 50px;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #e5e5e5;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #e5e5e5;
  text-decoration: none;
}

.jumbotron {
  background-size: cover;
  height: 600px;
  background-image: url('../../assets/images/kitchen.jpeg');

  > h1, h2 {
    color: #303030;
    margin-bottom: 30px;
    letter-spacing: -1px;
    font-weight: bold;
  }
}

.btn-xlarge {
  background-color: #28a745;
  border-color: #28a745;

  &:hover {
    background-color: #125522;
    border-color: #125522;
  }
}

.footer {
  border-top: solid 1px;
  background-color: #343a40;

  > .container p {
    color: #e5e5e5
  }
}

.card {
  margin-bottom: 30px;

  > h4 {
    margin-top: 10px;
  }
}

.title-center {
  text-align: center;
}

.recipe-name {
  font-weight: bold;
}

.img-circle {
  border-radius: 50%;
}

.chef-pic {
  margin-top: 20px;
}
